.jumbotron{
    background-color: transparent;  
    margin-bottom: 0;  
}
.container-fluid{
    padding: 0;
}

p{
	font-size: 18px;
}

h1, h2, h3 {
	font-family: "Brickton Regular", 'Archivo Black', 'Tahoma', sans-serif;
}

@font-face {
	font-family: 'Brickton Regular';
	src: local('Brickton Regular'), local('Brickton Regular'), url("./fonts/Brickton Regular") format('otf');
}

@media (max-width: 576px) { 
	.a{
		padding: 0;
	}
	h1{
		font-size: 2rem;
	}
	h2{
		font-size: 1.8rem;
	}
	h3{
		font-size: 1.4rem;
	}
	h4{
		font-size: 1.2rem;
	}
	h5{
		font-size: 1rem;
	}
	p{
		font-size: 15px;
	}
}

.btn-success, .btn-success:active {
	color: #000;
	background-color: #28a74570;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger, .btn-success:active {
	color: #000;
	background-color: #dc354594;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning, .btn-success:active {
	color: #000;
	background-color: #ffc10773;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover{
	color: white;
}
.btn-primary, .btn-success:active {
	color: #000;
	background-color: #007bff57;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar {
	width: 1em;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}

.card-body::-webkit-scrollbar {
	width: 1em;
}

.card-body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.card-body::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}

.modal-body::-webkit-scrollbar {
	width: 1em;
}

.modal-body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.modal-body::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}